---
layout: layout.njk
---
{%- for section in collections.sections %}
<section id="section-{{ section.fileSlug }}" class="section" aria-labelledby="section-{{ section.fileSlug }}-heading">
  <h2 id="section-{{ section.fileSlug }}-heading">{{ section.data.title }}</h2>
  {%- if section.data.images %}
  <div class="gallery-grid">
    {%- for img in section.data.images %}
    <figure>
      {% image img.src, img.alt, "(min-width: 700px) 33vw, 100vw" %}
    </figure>
    {%- endfor %}
  </div>
  {%- else %}
  {{ section.templateContent | safe }}
  {%- endif %}
</section>
{%- endfor %}
